.password-strength {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.segment {
  height: 10px;
  width: 20%;
  background-color: #ddd; /* Cor inicial */
  margin-right: 5px;
  transition: background-color 0.3s ease;

  &.segment-weak {
    background-color: red;
  }

  &.segment-medium {
    background-color: orange;
  }

  &.segment-strong {
    background-color: yellow;
  }

  &.segment-very-strong {
    background-color: green;
  }
}

.label {
  width: 100%;
  text-align: center;
  font-size: 9px;

  &.label-weak {
    color: red;
  }

  &.label-medium {
    color: orange;
  }

  &.label-strong {
    color: yellow;
  }

  &.label-very-strong {
    color: green;
  }
}
