<div class="password-strength">
  <div
    [class.strong]="strength[0]"
    [ngClass]="{
      'segment-weak': strength[0],
      'segment-medium': strength[1],
      'segment-strong': strength[2],
      'segment-very-strong': strength[3]
    }"
    class="segment"
  ></div>
  <div
    [class.strong]="strength[1]"
    [ngClass]="{
      'segment-medium': strength[1],
      'segment-strong': strength[2],
      'segment-very-strong': strength[3]
    }"
    class="segment"
  ></div>
  <div
    [class.strong]="strength[2]"
    [ngClass]="{
      'segment-strong': strength[2],
      'segment-very-strong': strength[3]
    }"
    class="segment"
  ></div>
  <div
    [class.strong]="strength[3]"
    [ngClass]="{
      'segment-very-strong': strength[3]
    }"
    class="segment"
  ></div>
</div>
<small
  class="label"
  [ngClass]="{
    'label-weak': strength[0],
    'label-medium': strength[1],
    'label-strong': strength[2],
    'label-very-strong': strength[3]
  }"
>
  {{ passwordStrenghtLabel }}</small
>
