<div class="signup-container">
  <form [formGroup]="signupForm" (ngSubmit)="submitForm()">
    <app-text-input
      label="Name"
      formControlName="name"
      placeholder="Name"
    ></app-text-input>
    <app-text-input
      label="E-mail"
      formControlName="email"
      placeholder="Email"
      type="email"
    ></app-text-input>
    <app-password-input
      formControlName="password"
      place older="password"
    ></app-password-input>
    <app-password-input
      label="Confirm password"
      formControlName="confirmPassword"
      placeholder="Confirm password"
    ></app-password-input>
    <app-submit-button>Create account</app-submit-button>
  </form>
</div>
